.webContainer {
  flex: 1;
  /* background-color: #3f4075; */
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 40%;
}

@media (max-width: 767px) {
  .innerContainer {
    width: 90%;
  }
}